RewriteEngine On

# If request is NOT a real file
RewriteCond %{REQUEST_FILENAME} !-f

# And NOT a real directory
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything to index.php
RewriteRule ^ index.php [L]